body {
     font-family: "Monotype Corsiva";
	 background-image: url("../images/fon1.jpg");}
	
h1 {color:#A0522D;
font-size: 300%;
text-align:center;
text-shadow: 4px 2px  #F5F5DC;
border: 2px solid #CD853F;
padding:5px;
width: 600px;
margin-left:470px;
 background-image: url("../images/fon2.jpg");
 margin-left:auto; 
margin-right:auto;
margin-top:50px;
}
h1.q {margin-bottom:20px;
margin-top:100px;}

div { background-image: url("../images/fon2.jpg");
font-family:"Courier";
      line-height:1.2em;
	  width: 600px;
	  border: 2px solid #CD853F;
padding: 20px;	
margin-left:auto; 
margin-right:auto;
margin-bottom:20px;}
 a {text-decoration:none;
 font-weight:bold; }
a:visited {color:#A0522D;}
a:link {color: #8B4513;}
a:active {color:#D2691E;}
table { background-image: url("../images/fon2.jpg");
text-align: left;
padding: 10px 10px 10px 10px;
font-family:"Courier";
border-spacing: 50px 5px;
margin-left:auto; 
margin-right:auto;
margin-top:100px;
border: 2px solid #CD853F;}
h2{color: Sienna;
text-shadow: 1px 1px 0px #FFE4B5;font-family: "Monotype Corsiva";font-size: 170%}
h3{color: Sienna;
 text-shadow: 1px 1px 1px #FFE4B5;font-family: "Monotype Corsiva";font-size: 170%}
p {position:fixed;
text-shadow: 4px 2px  #F5F5DC;
font-family: "Monotype Corsiva";font-size: 200%;color: Sienna;
font-weight:bold;}
nav ul {background-image: url("../images/fon2.jpg");
color:#A0522D;
font-size: 200%;
text-shadow: 4px 2px  #F5F5DC;
border: 2px solid #CD853F;
padding:5px 0px 5px 50px;
width: 680px;
margin-left:410px;
margin-left:auto; 
margin-right:auto;
}
nav li {display:inline;
margin-left:70px;}






